* {margin: 0 auto;}
* {box-sizing: border-box;}

p {margin: 0px; padding: 0px;}
h1{margin: 0px; padding: 0px;}
:active, :hover, :focus {
     outline: 0;
     outline-offset: 0;
 }

 :root {--fontsize: 100%}





header {background-color: #1f1f1f; max-width: 1280px;}

.logoMailPhoneLogIn{ padding-top: 3%; width: 90%;}

.Logo{ vertical-align: top; float: left; width: 5%;}



.MailPic{ padding-left: 1%; padding-top: 1%; padding-right: 1%;
        float: right; width: 5%;  }
.PhonePic {  padding-right: 1%;  padding-top: 0.8%;
       float: right;  width: 5%; padding-left: 1%;  }
       .PhoneMailTxt {font-size: 14px; color: white; 
           vertical-align: top;  float: right; 
           padding-top: 1.4%;  padding-right: 1%;}
      
.LogIn{ vertical-align: top; float: right; width: 10%; padding-left: 1%; }


.HeaderPic{ margin-top: 8.8%; width: 90%; position: relative; }

.ChangeYourCar{ text-align: center;  }
.ChangeYourCar img{ width: 80%;}
.BulletsTop {position: absolute; bottom: 50%; right: 0%; width: 1%;}


.txtunderpic{font-size: var(--fontsize); color: white; text-align: center;}

.MakeModelCityBox{padding-top: 3%; padding-bottom: 10%; width: 75%;}
.MakeModelCity{width: 20%; border-bottom: solid 1px #3C3C3C; margin-right: 5%;
     vertical-align: bottom; float: left; }
.MakeModelCity p{ padding-bottom: 10%;
font-weight: bolder;}
.MakeModelCity input{ font-size: 18px; vertical-align: bottom; width: 100%;
     font-weight: bolder; border: none; background-color: #1f1f1f;}
.SearchButton{float: right; width: 20%; }

@media screen and (min-width: 300px) and (max-width: 600px)  
 {
     .PhoneMailTxt {font-size: 10px}
}



