* {padding: 0;
margin: 0;}

body {background: #cfcdcd;}



.ground {width: 752; background-color: #FFFFFF; margin: 0 auto;}
.header {width: 752px; height: 237px; 
    background-color: #2d7053; padding: 0.1px; }

    .logo {width: 144px; height: 144px; 
       
    margin-top: 46px; margin-left: 37px; 
    display: inline-block;}

    .text1 {width: 134px; height: 131px; 
        margin-top: 53px;margin-left: 57px; 
        font-size: 30px; color: #FFFFFF;
    display: inline-block; vertical-align: top;}

    .headerMenu { width: 87px; height: 71px;
    margin-left: 249px; margin-top: 83px; 
display: inline-block; vertical-align: top;}

.image {width: 752px; height: 470px; background-image: url(./img/Кбн.png);}

.button{width: 344px; height: 77px; background-color: #CB9223;
     margin-left: 188px; margin-top: 343px; line-height: 3; font-size: 24px; color: #FFFFFF; 
     text-transform: uppercase; text-align: center; display: inline-block;}

.character {width: 752px; background-color: #FFFFFF;
    }  


.photo {height: 255px; width: 255px; border-radius: 50%;
        margin-top: 58px; margin-left: 38px;
        background-image: url('./img/154-9254.png'); background-position: 50%;
        display: inline-block;vertical-align: top;}

.Name{height: 37px; width: 230px; margin-left: 68px; margin-top: 130px; font-size: 36px;display: inline-block;}
.spec{height: 50px; width: 245px; margin-block-end: 24%; font-size: 24px; text-align: left;}
        


        


