
body {margin-left: 20%;}
.menumain {margin: 0px auto; background-color: black; display: inline-block; }
.Group{width: 700px; margin-left: 20px; background-color: brown; }
.h {font-size: xx-large; background-color: blueviolet; margin-bottom: 20px;}
.decorate{color: aquamarine; margin-bottom: 20px; }

.pointbox{background-color: rgb(106, 107, 107); margin-bottom: 20px; height: 150px; }

.pic {width: 150px; height: 150px; background-color: rgb(126, 131, 131); border-radius: 10px;
 vertical-align: top; float: left;  margin-right: 20px;}



.food1 { font-size: x-large;
     background-color: green; color: orange; display: inline-block; vertical-align: top; }
.price{ color: orange; font-size: larger; display: inline-block; vertical-align: top; }
.price::before { content: "$ "; color:orange;}
.txt {text-align: left; margin-top: 50px; padding-left: 20px;} 

