:root { background-color: #f2f2f2;}
img { border-radius: 15px;}

body {margin-left: 20%;}
.menumain {margin: 0px auto;  }
.Group{width: 700px; margin-left: 20px;  }
.h {font-size: xx-large;  margin-bottom: 20px;}
.decorate{margin-bottom: 20px; height: 16px; background-image: url('./img5/dec.png');
background-repeat: repeat; width: 674px; }

.pointbox{ margin-bottom: 20px; height: 150px; }

.pic {width: 150px; height: 150px; border-radius: 15px; background-image: url('./img5/поридж.jfif');
 vertical-align: top; float: left;  margin-right: 20px;}

 
.foodandprice{position: relative; overflow: hidden; }
.foodandprice::after{ content: ""; border-bottom: 1px dotted; 
     position: absolute; bottom: 5px; z-index: 2; width: 100%;}
    


.food1 { font-size: x-large;;
      color: #bc984e; float: left;
     position: relative; z-index: 3; overflow: hidden;  }
     
.price{ color: #949505; font-size: larger;  position: relative; z-index: 3; float: right; 
     overflow: hidden; padding-right: 20px; padding-top: 5px; background-color: #f2f2f2; }
.price::before { content: " $ "; color: #949505;}
.txt {text-align: left; margin-top: 50px; padding-left: 20px;} 

