:root { background-color: #f2f2f2;}
img { border-radius: 15px;}
h1 , h2 {margin: 0; padding: 0;}

body {margin-left: 20%;}
.menumain {margin: 0px auto;  }
.Group{ margin-left: 20px; width: 700px;  }

.hdotters { margin-bottom: 25px; position: relative; overflow: hidden; }
.hdotters::before {content: ""; 
     border-bottom:10px dotted red; border-image: url('./img5/dec.png') 0 0 100% 0 repeat; 
     position: absolute; bottom: 0px; width: 680px;}
     .h { margin-bottom: 20px; float: left;
          position: relative; color: #884729;}


.pointbox{ margin-bottom: 20px; height: 150px; }

.pic {width: 150px; height: 150px; border-radius: 15px; background-image: url('./img5/поридж.jfif');
 vertical-align: top; float: left;  margin-right: 20px;}

 
 .foodandprice{position: relative; overflow: hidden; }
 .foodandprice::after{ content: ""; border-bottom: 1px dotted; 
      position: absolute; bottom: 5px; z-index: 2; width: 100%;}
     
 
 
 .food1 { padding-top: 10px;
       color: #bc984e; float: left;
      position: relative; z-index: 3; overflow: hidden;  }
      
 .price{ font-weight: bold; color: #949505; font-size: larger;  position: relative; z-index: 3; float: right; 
      overflow: hidden; padding-right: 20px; padding-top: 15px; background-color: #f2f2f2; }
 .price::before { content: " $ "; color: #949505;}
 .txt {text-align: left; margin-top: 50px; padding-left: 20px;} 
