* {box-sizing: border-box;}
body{margin: 0; font-family: 'Montserrat', sans-serif;}

p {margin: 0;}
.col {padding: 0;}
.col-1 {padding: 0;}
.col-2{padding: 0;}
.col-3{padding: 0;}
.col-4{padding: 0;}
.col-5{padding: 0;}
.col-6{padding: 0;}
.col-7{padding: 0;}
.col-8{padding: 0;}
.col-9{padding: 0;}
.col-10{padding: 0;}
.col-11{padding: 0;}
.col-12 {padding: 0;}



a{text-decoration: none; color: rgb(255, 255, 255);}
a:hover{color: #02b620; text-decoration: none;}




header {background-image: url(./img/Слой\ 5.png); background-size: 100%; height: 53vw; position: relative; }
.ContHeader { background-color: rgba(0, 0, 0, 0.5); height: 11.5vw; color: white; font-size: 1.5vw; }

.Logo {padding-top: 1.5vw; }
.LogoImg {width: 5vw; }
.Logo {text-align: center; position: relative;}

.logotxt {position: absolute; top: 6.7vw; left: 2vw;}


.nav {justify-content: space-around; padding-top: 6vw; padding-left: 5.5vw; padding-right: 5.5vw;}
.SocNet{justify-content: space-between; padding-top: 5vw; display: inline-flex; width: 11vw;}
.HeaderFB {width: 1.5vw; height: 3.3vw; margin-right: 0.5vw;}
.HeaderVB {width: 3vw; height: 3.3vw;}
.HeaderTG {width: 3vw; height: 3.3vw;}






.mainForm{margin-top: 4vw; margin-right: 4.5vw; 
      background-color: rgba(0, 0, 0, 0.5); 
      width: 27vw; text-align: center; position: absolute; right: 1vw;
      padding-top: 3%; padding-bottom: 1%;}
.mainForm h1{font-size: 1.8vw; color: rgb(255, 255, 255); margin-top: 1vw; margin-bottom: 0; }
.mainForm span{font-size: 1.5vw;}
.mainForm p{text-align: center;}

.forms{display: block; 
      margin-top: 2.5vw; margin-left: auto; margin-right: auto; 
      width: 60%; 
     border: none; border-bottom: solid 1px white;    color: #02b620;
     background-color: rgba(0, 0, 0, 0);  line-height: 2vw; font-size: 1vw;}

     .forms::placeholder{color: white; text-align: center;}
     
.Button{display: block; 
      margin-top: 3.5vw; margin-bottom: 1vw; margin-left: auto; margin-right: auto; 
      height: 2.5vw; 
      width: 60%;
      color: white; 
      border: none;
      font-size: 1vw; 
      background-color: #02b620;}

    
 @media screen and (max-width: 300px) 
 {
      .forms{margin-top: 1vw;}
      .Button {margin-top: 1.5vw;}
 }

.Banner1{font-size: 0.9vw; padding-bottom: 5vw;}
.Banner1Head{font-size: 3.5vw; text-align: center; margin-top: 3vw; margin-bottom: 1vw;}
.Banner1 a{color: #02b620; font-size: 1vw; padding-left: 2vw;}
.Banner1 img {width: 20vw; float: right;}
.Banner1Txt {text-align: left; padding-right: 35%;}

.Banner2{ color: white; background-image: linear-gradient( 180deg, #032552,  #194E52); }
.Banner2 p {text-align: center;}
.Banner2Head{ font-size: 3.5vw; padding-top: 2vw; margin-bottom: 3vw; }
.pic1 {width: 18vw;}
.pic2 {width: 15vw;}
.pic3 {width: 15vw;}



.Banner2txt1{margin-bottom: 1vw; font-size: 1.5vw; padding-left: 4vw; padding-right: 4vw;}
.Banner2txt2{margin-top: 1.2vw; margin-bottom: 1vw; font-size: 1.5vw; padding-left: 4vw; padding-right: 4vw; }
.Banner2txt3{margin-top: 0.9vw; margin-bottom: 1vw; font-size: 1.5vw; padding-left: 4vw; padding-right: 4vw; }

section {height: 40vw;}

footer {background-color: black; padding-top: 4vw; padding-bottom: 3vw;  color: white;   }


.LogoFooter{display: inline-flex; padding-left: 3vw; vertical-align: top;  position: relative;}
.LogoFooter img {width: 4.5vw; margin-left: 1vw; margin-right: 1vw;}
.Logotxt{padding-top: 1.2vw; font-size: 1.2vw;}
.SocNetFooter{ display: flex; justify-content: space-around; width: 20vw; margin-top: 1.5vw;  }
.SocNetFooter img { width: 2.1vw; height: 2.2vw; position: absolute; top: 5.5vw;}
.SocNetFooter :nth-child(1) :first-of-type  {width: 1.2vw; }






.navFooter {justify-content: space-between; font-size: 1.2vw; display: flex; padding-top: 1vw; padding-right: 4vw; vertical-align: top;}

.AllRightsReserved{font-size: 0.9vw; text-align: right; padding-right: 4vw; text-align: right; margin-top: 2.5vw;  }















      
      
      

      

 