






.header{width: 1302px; height: 72px; background-color: #8C0A0D; margin: 0 auto; 
    padding-top: 0px; overflow:auto}

.logo{width: 177px; height: 41px; display: inline-block; margin-top: 16px; margin-left: 68px;
background-image: url('./img1/Лого.png'); background-repeat: no-repeat; vertical-align: top; }

.menubox {display: inline-block; vertical-align: top;
    color: #F5CF64 ; font-size: 14px;  }

    .ul{ margin-top: 39px; margin-left: 95px; list-style: none; padding-top: 0px; padding-left: 0px; 
        display: inline-block; 
        vertical-align: top;}
    

    .menulist {display: inline; list-style-type: none; padding-left: 30px; padding-top: 0px;}

    .langbox {display: inline-block; vertical-align: top; margin-left: 0px;
    margin-bottom: 0px;}
    
    .langpic{ width: 26px; height: 18px; background-image: url('./img1/English.png');
        margin-left: 102px; margin-top: 36px;  
        vertical-align: top; display: inline-block; background-repeat: no-repeat; }
        .eng{margin-left: 40px; display: inline-block; vertical-align: top; margin-top: 2px;}
    
.menulist2 { padding-left: 0px; padding-top: 0px; vertical-align: top; display: inline-block;
         margin-top: 0px; margin-left: 0px; color: #F5CF64 ; font-size: 18px;}





.monitor{ width: 1302px;  margin: 0 auto;
    background-image: linear-gradient(45deg, #8C0A0D, #F6CC79, #8C0A0D);
    }



.picbox{width: 1170px; height: 335px; position: relative; left: 66px; top: 25px; 
    background-image: url('./img1/pic.png');}
.maintext{position: absolute; left: 360px; top: 15px; font-size: 60px; display: inline-block;}
.button{width: 191px; height: 44px; position: absolute; left: 495px; top: 107px;
    font-size: 24px; font-weight: bold; padding-left: 17px; padding-top: 7px; z-index: 2; 
    display: inline-block; background-image: url('./img1/button.png'); background-repeat: no-repeat;}
    .underbutton{width: 191px; height: 44px; position: absolute; left: 495px; top: 113px; z-index: 1;
        background-image: url('./img1/underbutton.png'); background-repeat: no-repeat;}

        .left{position: absolute; left: 28px; top: 155px;}
        .right{position: absolute; right: 28px; top: 155px;}
        .round1{width: 16px; height: 16px; border-radius: 50%;
             position: absolute; left: 554px; top: 310px; background-color: white;}
             .round2{width: 16px; height: 16px; border-radius: 50%;
                position: absolute; left: 577px; top: 310px; background-color: #BF670D;}
                .round3{width: 16px; height: 16px; border-radius: 50%;
                    position: absolute; left: 601px; top: 310px; background-color: white;}

                    .contboxmain {margin-left: 66px; margin-top: 55px; background-color: aqua;
                    width: 1170px;}
                    

.contbox1{  display: inline-block; width: 259px; vertical-align: top; }

.contbox2{  margin-left: 35px; width: 254px; display: inline-block; vertical-align: top; }

.contbox3{  margin-left: 35px; width: 252px; display: inline-block; vertical-align: top; }
            
.contbox4{ margin-left: 35px; width: 276px; display: inline-block; vertical-align: top; }

                .contup {vertical-align: top; margin-bottom: 44px;
                    font-size: 18px; font-weight: bold; text-align: left;}
                .contdown { line-height: 23px; font-size: 16px; text-align: left; 
                    vertical-align: top; margin-bottom: 29px; }




.end{width: 1302px; height: 72px; background-color: #8C0A0D;  }
.mail1{color: #F5CF64 ; font-size: 14px; width: 195px;
    position: relative; left: 68px; top: 37px; text-decoration-line: none;}

    .adress{color: #F5CF64 ; font-size: 14px; width: 148px; height: 38px;
        position: absolute; left: 305px; bottom: 2px; line-height: 22px; text-align: left; }

        .phone{color: #F5CF64 ; font-size: 14px; width: 144px; height: 37px;
            position: absolute; left: 604px; bottom: 2px; line-height: 22px; text-align: right; }

            .mail2{color: #F5CF64 ; font-size: 14px; width: 138px; height: 36px;
                position: absolute; left: 899px; bottom: 2px; line-height: 22px; text-align: left; }

                .fb{ width: 27px; height: 27px;background-color: aliceblue; border-radius: 50%;
                    position: absolute; left: 1097px; bottom: 2px; vertical-align: top;}
                    .vk{ width: 27px; height: 27px;background-color: aliceblue; border-radius: 50%;
                        position: absolute; left: 1138px; bottom: 2px;}

